<configuration debug="false">

    <shutdownHook/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %-30(%d{HH:mm:ss.SSS} [%green(%thread)]) %highlight(%-5level) %yellow(%logger{36}:%line) %cyan(->) %msg %n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>

    <logger name="cl.ucn.disc" level="DEBUG"/>

    <logger name="io.ebean" level="INFO"/>

    <!--  sql and transaction logging  -->
    <logger name="io.ebean.SQL" level="TRACE"/>
    <logger name="io.ebean.TXN" level="TRACE"/>
    <logger name="io.ebean.SUM" level="TRACE"/>
    <logger name="io.ebean.DDL" level="TRACE"/>

    <!--  l2 cache logging  -->
    <logger name="io.ebean.cache.QUERY" level="TRACE"/>
    <logger name="io.ebean.cache.BEAN" level="TRACE"/>
    <logger name="io.ebean.cache.COLL" level="TRACE"/>
    <logger name="io.ebean.cache.NATKEY" level="TRACE"/>
</configuration>